<h1> Ask : Type in a message </h1>
 <form action="/answer">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" name="query" placeholder="type a message">
    <input type="submit" value="Go on!">
  </form>
